@import "../variables";
@import "../mixins";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 0px 10px !important;
  box-shadow: 0 8px 15px -8px rgb(207, 207, 207);
  //   background-color: #e5e4e291;

  h1 {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .categories {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    button {
      background-color: transparent;
      border: none;
      font-size: 17px;
      padding: 18px 15px;
      cursor: pointer;
    }
    .active {
      border-bottom: 5px solid #0096ff;
    }
  }
}

.main {
  padding: 50px 20px;
  background-color: #e5e4e24d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .mainWrapper {
    width: 100%;
    max-width: 950px;
    .card {
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .textContainer {
        padding: 20px;
        h3 {
          color: #71797e;
          font-size: 30px;
          margin: 0px;
        }
        .dob {
          color: #71797e;
          font-size: 20px;
        }
        .story {
          color: #71797e;
        }
      }
    }
  }
}

// for mobile devices
@include mobile() {
  .hero {
    padding: 20px 10px 0px 10px !important;
    h1 {
      font-size: 26px;
      margin-bottom: 30px;
    }
    .categories {
      width: 100%;
      max-width: 1200px;
      overflow-x: scroll;
      justify-content: space-between;
      button {
        font-size: 13px;
        padding: 12px 18px;
        cursor: pointer;
        white-space: nowrap;
      }
      .active {
        border-bottom: 2px solid #0096ff;
      }
    }
  }
}

// .hero {
//     display: flex;
//     height: calc(90vh - $header-height);
//     width: 100vw;
//     overflow-x: hidden;

//     .left {
//         width: max(16rem, 35vw);
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         gap: 5%;

//         button {
//             @include button;
//             width: 12rem;
//             height: 4rem;
//             border-radius: $radius;
//             background-color: white;
//             font-size: 1.25rem;

//             transition: 0.3s ease-out;
//             &:hover {
//                 background-color: $highlight;
//             }
//         }

//         .hideButton {
//             visibility: collapse;
//             position: absolute;
//         }
//     }

//     .showButton {
//         position: absolute;
//         left: -2.5rem;
//         top: 40vh;
//         transform: rotate(-45deg);
//         border-bottom-right-radius: $radius;

//         background-color: white;
//         width: 5rem;
//         height: 5rem;
//         padding: 1rem;
//         border: none;
//         z-index: 10;

//         visibility: hidden;

//         div {
//             border-bottom-right-radius: $radius;
//             border-bottom: 3px solid black;
//             border-right: 3px solid black;
//             width: 100%;
//             height: 100%;
//         }
//     }

//     .right {
//         border-radius: $radius 0 0 $radius;
//         overflow: hidden;
//         flex-grow: 1;
//     }
// }

// @include mobile() {
//     .hero {

//         .left {
//             max-width: 0;
//             position: relative;
//             left: min(-16rem, -35vw);
//             transition: 0.3s ease-out;

//             .hideButton {
//                 position: relative;
//                 border: none;
//                 font-weight: bold;
//                 visibility: visible;
//             }
//         }
//         .show {
//             max-width: 16rem;
//             left: 0;
//         }

//         .showButton {
//             visibility: visible;
//         }
//     }
// }

// .description {
//     padding-bottom: 2rem;

//     .name {
//         background-color: $highlight;
//         text-align: center;
//         height: 10vh;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         font-size: 1.25rem;
//         font-weight: 500;
//     }

//     .dob {
//         margin-top: 1rem;
//         text-align: center;
//     }

//     .story {
//         margin-top: 1rem;
//         padding: 0 10rem;
//         @include mobile() {
//             padding: 0 2rem;
//         }
//         text-align: justify;
//         display: flex;
//         justify-content: center;
//         flex-wrap: wrap;
//         gap: 2rem;

//         p {
//             width: clamp(10vw, 20rem, 90vw);
//             margin-block: 0;
//         }
//     }
// }
